<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" <a href="{% url 'home' %}">
    <img src="https://fontmeme.com/permalink/190614/528142f51b02edf215bd6f2fd4216aa2.png" alt="starcraft-font"
    border="0">
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"    aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation"> 
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse flex-grow-1 text-right" id="navbarNav">
    <ul class="navbar-nav ml-auto flex-nowrap">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
      </li>

      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

      <li class="nav-item active">
        <a class="nav-link" href="{% url 'p_list' %}">Player/Team DB</a>
      </li>

      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
      
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'p_add' %}">Add PLayer</a>
      </li>
    </ul>
  </div>
</nav>