{% extends 'base.html' %}

{% block content %}


    <div id="add-container">
        <div id="add-table-container">

            <br>
            <br>

            <h2 class="table_heading" style="text-align: center"><img src="https://fontmeme.com/permalink/190714/a5b3c9941380c2da32938d87561845f4.png" alt="starcraft-font" border="0"></h2>

            <br>

            <div id="box" class="container">
                <br>

                <div id="boxtwo" class="container">
                    <div class="center_auto form-group w-50">
                        <label for="fname"><img src="https://fontmeme.com/permalink/190714/32e3d317c6f7916cb07657a38d02e1f9.png" alt="starcraft-font" border="0"></label>
                        <input name="fname" type="text" class="form-control">
                    </div>

                    <br>

                    <div class="center_auto form-group w-50">
                        <label for="lname"><img src="https://fontmeme.com/permalink/190714/259adaa3ce332e1ffd01c1894a6f5e6e.png" alt="starcraft-font" border="0"></label>
                        <input name="lname" type="text" class="form-control">
                    </div>

                    <br>

                    <div class="center_auto form-group w-50">
                        <label for="ingame_name"><img src="https://fontmeme.com/permalink/190714/64ca4388e39d1f2c3a6077d1fc2d1e50.png" alt="starcraft-font" border="0"></label>
                        <input name="ingame_name" type="text" class="form-control">
                    </div>

                    <br>

                    <div class="center_auto form-group w-50">
                        <label for="race"><img src="https://fontmeme.com/permalink/190714/2fb0368cfa9c2ab80b2baf267a384e96.png" alt="starcraft-font" border="0"></label>
                        <input name="race" type="text" class="form-control">
                    </div>

                    <br>

                    <div class="center_auto form-group w-50">
                        <label for="team"><img src="https://fontmeme.com/permalink/190714/1d1f331e84f3bfd75a17a1aa7b7a4ac8.png" alt="starcraft-font" border="0"></label>
                        <input name="team" type="text" class="form-control">
                    </div>

                    <br>

                    <div class="center_auto form-group w-50">
                        <label for="country"><img src="https://fontmeme.com/permalink/190714/6ed688ea634b1d053120734b627560f7.png" alt="starcraft-font" border="0"></label>
                        <input name="country" type="text" class="form-control">
                    </div>

                    <br>
                </div>

                <br>

                <div class="form-group text-center">
                    <input type="submit" class="btn btn-success form_submit" style="text-align: right;">
                </div>

                <br>
            </div>
        </div>
    </div>

{% endblock content %}