{% extends 'base.html' %}

{% block content %}

    <div id = "delete-container">
        <div id="confirm_table">
            <div class="container" style="text-align: center">
                <img src="https://fontmeme.com/permalink/190714/e319057395fb0958bfe6023483ff9d02.png" alt="starcraft-font" border="0">

                <br>
                <br>

                <a href="{% url 'p_delete' id %}" class="btn btn-danger">Delete</a>

                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 

                <a href="{% url 'p_edit' id %}" class="btn btn-primary">Cancel</a>
            </div>      
        </div>
    </div>

{% endblock content %}