{% extends 'base.html' %}
{% load static %}
{% block content %}

<div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel" data-pause="false">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="car_img_1"></div>
        </div>

        <div class="carousel-item">
            <div class="car_img_2"></div>
        </div>

        <div class="carousel-item">
            <div class="car_img_3"></div>
        </div>
    </div>
</div>

<div id='info-container'>
    <div class="my_box">
        <h1><img src="https://fontmeme.com/permalink/190714/28adfdea4d119e6ddfb9b3568a89195f.png" alt="starcraft-font" border="0"></h1>
        <p>
            <b> Welcome to Starcraft 2 DB. SC2 DB strives to provide our community with the most up to date player and team information from around the world. Learn where your favorite players are from, what team they play for, and everyone else playing on that team. Maybe you're new to the Starcraft 2 competitive scene or just recently formed a team, here at SC2 DB, you can add yourself/team to our database and let yourself(s) be known.</b>
        </p>
    </div>

    <div class="my_second_box">        
        <h1>
            <img src="https://fontmeme.com/permalink/190714/4b66209a687c80a9bcb1020df985f25a.png" alt="starcraft-font" border="0">
        </h1>
        <p>
            <b>
                There are lots of goals for SC2 DB in the future to come. We would like to make the search through are database more dynamic. Able to filter database by race, country, Battle.net region, etc. Would like to make a more in-depth player profile with links to VODs, Twitch, builds, tournament results, etc.</b>

                <br>
                <br>
                
            <img src="https://fontmeme.com/permalink/190714/553b7055fa69cb63349d9e62d3b9dba6.png" alt="starcraft-font" border="0">
        </p>
    </div>
</div>

{% endblock content %}